spring:
  ldap:
     urls: ldap://openldap:389/dc=autentia,dc=com
     username: cn=admin,dc=autentia,dc=com
     password: ENC(/lGLLt6QlgxJzV+noEDEYZTNjAFf2Jkb)

  datasource:
    name: myDataSource
    url: jdbc:mysql://mysql:3306/tntconcept?autoReconnect=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

