spring:
  ldap:
     urls: ldap://ldap:389/dc=autentia,dc=com
     userDnPatterns: uid={0},ou=People

  datasource:
    name: myDataSource
    url: jdbc:mysql://localhost:3306/tntconcept?autoReconnect=true
    username: tntconcept
    password: ENC(4jPJQUQdNgS/Hj2RMxdRTqcXm0bFyNfz)
    driver-class-name: com.mysql.jdbc.Driver

