server:
  port: 8080

spring:
  banner.image.location: classpath:banner.txt
  profiles:
    active: prod

  ldap:
     urls: ldap://localhost:1389/dc=autentia,dc=com
     username: cn=admin,dc=autentia,dc=com
     password: ENC(/lGLLt6QlgxJzV+noEDEYZTNjAFf2Jkb)

  jpa:
    generate-ddl: false
    show-sql: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false
      
  datasource:
    name: myDataSource
    url: jdbc:mysql://localhost:13307/tntconcept?autoReconnect=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

  jackson:
    default-property-inclusion: non_null

jasypt:
   encryptor:
     algorithm: PBEWithMD5AndDES
     password: ${JASYPT_ENCRYPTOR_PASSWORD:}
