server:
  port: 8080

spring:
  profiles:
    active: @activeProfile@
  banner.image.location: classpath:banner.txt

  jpa:
    generate-ddl: false
    show-sql: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false

  jackson:
    default-property-inclusion: non_null

management.endpoints.enabled-by-default: true

jasypt:
   encryptor:
     algorithm: PBEWithMD5AndDES
     password: ${JASYPT_ENCRYPTOR_PASSWORD:}
